@import '../../scss/mixins.scss';
.dashboard {
  background-image: url('../../assets/images/bg-dash.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .up {
    margin-bottom: 50px;
    text-align: center;
    &__title {
      color: #1d1d1d;
      font-size: 103px;
      font-weight: 800;
      line-height: 106.023%;
      letter-spacing: 0.518px;
      @include forPhone {
        font-size: 45px;
      }
    }
  }

  .mid {
    margin-bottom: 7.625rem;

    &__info {
      display: flex;

      align-items: center;
      gap: 20px;

      @include screen-xs {
        gap: 30px;
        flex-wrap: wrap;
      }

      div {
        display: flex;
        gap: 10px;
        align-items: center;
        i {
          font-weight: bold;
        }
      }

      &__text {
        color: var(--font-black);
        font-size: 26px;
        font-weight: 300;
        @include screen-xs {
          font-size: 22px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    @include forPhone {
      row-gap: 30px;
    }
    &__link {
      transition: 0.5s;
      width: 235px;
      transition: 0.2s;
      padding: 0 4px;
      height: 235px;
      border-radius: 20px;
      background: var(--font-white);
      box-shadow: 0 0 8px #0000002e;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      gap: 14px;
      @include screen-xs {
        width: 100%;
      }
      @include forTablet {
        width: 50%;
      }
      &__text {
        color: var(--font-black);
        text-align: center;
        font-size: 20px;
        // font-weight: 400;
      }
    }
    &__link:hover {
      transform: translateY(-10px);
      transition: 0.5s;
    }
  }

  .no-click {
    pointer-events: none;
  }
}
