@import '../scss/mixins.scss';
.form-area {
  background-color: #f6f6f6;
  border-radius: 50px;
  .form {
    padding: 75px 50px;
    @include forPhone {
      padding: 30px 15px;
    }
    .input-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      .inp-label {
        margin-bottom: 4px;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        @include forPhone {
          font-size: 16px;
        }
      }
      .input-row {
        height: 60px;
        background-color: #fff;
        border: 1px solid #cfcfcf;
        border-radius: 20px;
        padding: 30px;
        font-size: 20px;
      }
      textarea {
        resize: none;
        min-height: 90px;
        overflow: hidden;
        padding: 30px !important;
        font-family: inherit;
      }
    }
    .checkbox-field {
      margin-bottom: 30px;
      .checkbox-wrapper {
        .checkbox-area {
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
          input[type='checkbox'] {
            width: 27px;
            height: 27px;
          }
          label {
            font-size: 20px;
            cursor: pointer;
            font-weight: 500;
            @include forPhone {
              font-size: 18px;
            }
          }
          .other-inp {
            padding-left: 6px;
            border: none;
            font-size: 20px;
            border-bottom: 1px solid rgb(137, 137, 137);
            outline: none;
            background-color: #f6f6f6;
          }
        }
      }
      p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .radio-field {
      font-size: 20px;
      margin-bottom: 72px;
      @include forPhone {
        font-size: 18px;
      }
      &__head {
        font-weight: 500;
        color: var(--font-black);
        margin-bottom: 10px;
      }
      .radio-area {
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        font-weight: 500;
        @include forPhone {
          margin-bottom: 19px;
        }
        input[type='radio'] {
          width: 27px;
          height: 27px;
          @include forPhone {
            width: 15px;
            height: 15px;
          }
        }
        .radio-label {
          line-height: 194.523%;
          cursor: pointer;
          @include forPhone {
            line-height: 113.023%;
          }
        }
      }
    }
    .btn-field {
      text-align: right;

      .form-btn {
        cursor: pointer;
        text-align: right;
        padding: 10px 65px;
        background-color: #2985e2;
        color: var(--font-white);
        border: none;
        border-radius: 14px;
        @include forPhone {
          width: 100%;
          text-align: center;
        }
        &__text {
          font-size: 26px;
          font-weight: 500;
        }
      }
    }
    .star {
      color: red;
    }
  }
  .form-submit-message {
    display: flex;
    align-items: center;
    justify-content: center;
    .submit-box {
      padding: 145px 341px;
      text-align: center;
      @include forPhone {
        padding: 110px 100px;
      }
      img {
        width: 100%;
        margin-bottom: 28px;
      }
      .success {
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        @include forPhone {
          font-size: 28px;
        }
      }
    }
  }
}

.valid-msg {
  padding-top: 8px;
  color: red;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}

.err {
  border: 2px solid red !important;
}
