@import '../components/form.scss';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  // position: relative;
  scroll-behavior: smooth !important;
}

::selection {
  background-color: #dbefd7;
}

:root {
  --font-black: #000;
  --font-white: #fff;
}

.container {
  max-width: 980px;
  padding-top: 8.75rem; //140px
  padding-bottom: 7.5rem; //120px
  margin: 0 auto;

  @include forPhone {
    padding-top: 7.75rem; //124px
    padding: 0 10px;
  }
}
